*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{

  background-image: url("src/assets/HeaderBlock1.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 1440px;
  height: 655px;
  margin: 0 auto;



}
ul{
  list-style-type: none;
}